main{
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  max-width: 360px;
}

header h1{
  display: flex;
  align-items: center;
  gap: var(--padding-sm);
  height: 36px;
}

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-sm) var(--padding-lg);
  padding: var(--padding-sm) 0 var(--padding-md);
  border-bottom: 2px solid var(--light-gray);
}

nav{
  display: flex;
  gap: var(--padding-md);
}

nav button:not(.primary){
  font-weight: 700;
  border: none;
  color: var(--dark-gray);
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease-out;
}

nav button:not(.primary):hover{
  color: var(--medium-blue);
}

fieldset{
  display: flex;
  gap: var(--padding-sm);
}