:root{
  color-scheme: light dark;

  /* colors from Mozilla brand guidelines https://mozilla.design/mozilla/#color */
  --light-gray: #e7e5e2;
  --medium-gray: #959595;
  --dark-gray: #484848;
  --black: #222;
  --medium-green: #2ac3a2;
  --dark-green: #005e5e;
  --neon-blue: #00ffff;
  --medium-blue: #0060df;
  --dark-purple: #6e008b;
  --warm-red: #ff4f5e;

  --subtle-gradient: radial-gradient(ellipse at top left, transparent, hsl(0 10% 80% / .2));

  --min-width: 320px;
  --max-width: 720px;
  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --padding-xl: 48px;

  --border-1px: 1px solid light-dark(var(--light-gray), var(--dark-gray));
  --border-2px: 2px solid light-dark(var(--light-gray), var(--dark-gray));
  --border-radius: 4px;

  --h1-font: 700 1.5rem/1.2 'Zilla Slab', Inter, sans-serif;
  --h2-font: 700 1.25rem/1.2 'Zilla Slab', Inter, sans-serif;
  --h3-font: 700 1rem/1.2 Inter, Inter-fallback, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal .875rem/1.3 Inter, Inter-fallback, sans-serif;
  color: light-dark(var(--black), var(--light-gray));
  background-color: light-dark(white, var(--black));
  background-image: var(--subtle-gradient);
  overflow-x: hidden;
}

body > *{
  display: block;
  width: var(--max-width);
  padding: var(--padding-md);
}

h1 {
  font: var(--h1-font);
  padding: var(--padding-sm) 0;
}

h2 {
  font: var(--h2-font);
  padding: var(--padding-sm) 0;
  margin: var(--padding-lg) 0 var(--padding-sm);
}

h3 {
  font: var(--h3-font);
}

small {
  font-size: .75rem;
  line-height: 1.2;
}

fieldset{
  border: none;
  display: flex;
  gap: var(--padding-sm);
}

legend{
  font-weight: bolder;
  font-size: .875rem;
  margin-bottom: var(--padding-sm);
}

label > span:first-child {
  display: block;
  font-weight: bolder;
  font-size: .875rem;
  margin-bottom: var(--padding-sm);
}

label[data-error]::after{
  content: attr(data-error);
  color: var(--warm-red);
  font-size: 12px;
}

textarea, input, select {
  width: 100%;
  padding: var(--padding-sm);
  border: var(--border-2px);
  border-radius: var(--border-radius);
  font: inherit;
  line-height: normal;
  background-color: light-dark(white, var(--black));
}

textarea{
  resize: vertical;
  min-height: 8rem;
}

select{
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%239595a3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m5 9 7 7 7-7'/%3E%3C/svg%3E"),linear-gradient(180deg,#fff 0,#fff);
  background-position: right 8px top 50%;
  background-repeat: no-repeat,repeat;
  background-size: 1.5em auto,100%;
  display: block;
  padding-right: 32px;
  text-overflow: ellipsis;
}

label[data-error] input {
  border-color: var(--warm-red);
  outline: 1px solid var(--warm-red);
}

input::placeholder {
  opacity: 1;
  color: var(--medium-gray);
}

input[type='checkbox'], input[type='radio'] {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  accent-color: black;
}

a{
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--medium-blue);
}

a.button {
  display: block;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

button.primary, .button.primary {
  color: light-dark(white, var(--black));
  background: light-dark(var(--black), white);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--padding-sm) var(--padding-md);
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

button:disabled{
  cursor: default;
  pointer-events: none;
}

button.primary:hover, .button.primary:hover {
  opacity: .8;
}

button.secondary, .button.secondary {
  background: transparent;
  border: 2px solid var(--medium-gray);
  border-radius: var(--border-radius);
  padding: var(--padding-sm) var(--padding-md);
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: border .2s ease-out;
}

button.secondary:hover, .button.secondary:hover {
  border-color: light-dark(var(--dark-gray), var(--light-gray));
}

button.close{
  height: 24px;
  aspect-ratio: 1/1;
  border: 2px solid var(--medium-gray);
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
}

button.close::after{
  content: '✕';
}

form:invalid button[type='submit'] {
  opacity: .5;
  cursor: not-allowed;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  pointer-events: none;
}

hr{
  border: none;
  border-top: var(--border-1px);
}